@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");

/* NAVIGATION BAR */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui;
}

html {
  scroll-behavior: smooth;
}

#landing {
  position: relative;
}

/* headers for efficiency */

.full__padding {
  padding: 32px;
  z-index: 2;
}

.svg {
  z-index: -20;
}

.nav {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  position: absolute;
}

.nav__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1280px;
}

.nav__logo {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 4px 0;
  font-weight: 900;
  font-size: 24px;
  text-decoration: none;
  color: #243e63;
  margin: 0 0 0 0;
  transition: all 300ms ease;
}

.nav__logo img {
  margin: 0 12.5px 0 0;
}

.nav__logo:hover {
  color: rgb(100, 21, 255);
}

img {
  max-width: 100%;
  /* height: 100%; */
  height: auto;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

li {
  list-style-type: none;
  font-weight: bold;
  transform: all 300ms ease;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.nav__link {
  text-decoration: none;
  margin: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #243e63;
  font-weight: 700;
  padding-top: 6px;
  padding-bottom: 4px;
  border-bottom: 2px solid white;
  transition: all 300ms ease;
}

.nav__link:hover {
  color: #6415ff;
  border-color: #6415ff;
}

.nav__link--login {
  margin: 0 24px 0 48px;
  display: flex;
  text-decoration: none;
  color: #243e63;
  font-weight: 700;
  padding-top: 6px;
  padding-bottom: 4px;
  border-bottom: 2px solid white;
  transition: all 300ms ease;
}

.nav__link--login:hover {
  color: #6415ff;
  border-color: #6415ff;
}

.nav__link--btn {
  text-decoration: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 4px solid white;
  letter-spacing: 0.5px;
}

.btn {
  padding: 12px 32px;
  border-radius: 9999px;
  border: none;
  background-color: rgba(100, 21, 255);
  color: white;
  transition: all 300ms ease;
}

.nav__link--btn:hover {
  background-color: #5012ca;
}

.menu__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px 0 96px 0;
  z-index: 99;
  position: relative;
}

.menu__row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.menu__info--wrapper {
  display: flex;
}

h1 {
  font-size: 48px;
}

p {
  /* margin: 32px 0 32px 0; */
  font-size: 18px;
  color: #243e63;
  font-weight: 400;
}

.menu__brands {
  margin-top: 80px;
  padding-right: 64px;
}

.menu__info {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  margin: 0 28px 0 0;
}

.menu__header {
  font-weight: 700;
  color: #1a202c;
  margin-top: 28px;
}

.purple {
  color: #6415ff;
}

.menu__para {
  /* width: 100%; */
  margin: 32px 0 32px 0;
  word-spacing: 1px;
  font-size: 18px;
  font-weight: 400;
  width: 525px;
  /* max-width: 530px; */
  line-height: 24px;
}

.menu__email {
  position: relative;
  max-width: 480px;
}

.menu__email input:hover {
  border-color: rgb(160, 174, 192);
  transition: all 300ms ease;
}

input {
  max-width: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-radius: 9999px;
  border-width: 2px;
  padding: 24px 180px 24px 32px;
  border: 2px solid #e5e7eb;
  font-weight: 500;
  font-size: 16px;
  color: rgb(79, 80, 84);
}

.menu__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 11px 0 0 0;
  position: absolute;
  top: 0;
  background-color: rgba(100, 21, 255);
  color: white;
  text-decoration: none;
  font-weight: 700;
  padding: 16px 0;
  border-radius: 9999px;
  border: none;
  width: 160px;
  right: 2%;
  font-size: 16px;
  /* top: 0; */
  /* bottom: 0; */
  transition: all 300ms ease;
}

.menu__btn:hover {
  background-color: #4a13b8;
}

.menu__brands--img {
  margin-top: 16px;
  opacity: 0.5;
}

.menu__customers {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.01px;
  font-weight: 700;
  color: #a0aec0;
}

.menu__img--wrapper {
  width: 60%;
  display: flex;
}

.menu__img {
  margin: 0 auto;
  width: 768px;
}

.menu__shape {
  opacity: 0.05;
  left: 0px;
  bottom: 0px;
  width: 256px;
  height: 250px;
  z-index: -10;
  transform: translateX(-65%) translateY(-10%);
  /* opacity: 0.05; */
  position: absolute;
}

/* Features Page */

.container {
  padding: 120px 0;
  /* margin: 0 154px 0 154px; */
}

.row {
  width: 100%;
  /* max-width: 1024px; */
  max-width: 1280px;
  margin: 0 auto;
}

#features {
  position: relative;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1.4px;
}

.feature__header {
  font-weight: 900;
  color: #243e63;
  font-size: 48px;
}

.gray-para {
  color: #7c8ba1;
  margin: 24px 0 32px 0;
  max-width: 560px;
  line-height: 1.57;
  font-weight: 500;
}

.services {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
}

.service {
  display: flex;
  justify-content: center;
  width: calc(100% / 3);
  padding: 32px 8px;
}

.service__img--wrapper {
  color: #7342d6;
  width: 68px;
  height: 68px;
  padding: 20px;
  margin-right: 20px;
  /* border-radius: 9999px; */
  /* font-size: 32px; */
  /* margin-bottom: 16px; */
  border-radius: 9999px;
  border: 1px solid #e5e7eb;
}

.service__description {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  line-height: 2;
}

.service__header {
  font-size: 24px;
  color: #243e63;
}

.sample-para {
  color: #7c8ba1;
  font-size: 16px;
  font-weight: 500;
}

.side__shape {
  position: absolute;
  right: -6.89px;
  bottom: 0px;
  width: 256px;
  z-index: -10;
  opacity: 0.25;
  transform: translateX(10%) translateY(30%);
}

/* Quality section */

.quality__wrapper {
  display: flex;
  position: relative;
}

.quality__info {
  display: flex;
  flex-direction: column;
  width: calc(100% / 2);
  padding: 32px 0;
  justify-content: center;
}

.quality__header {
  font-weight: 900;
  color: #243e63;
  font-size: 48px;
  max-width: 550px;
}

.quality__btn {
  max-width: 200px;
}

.quality__img--wrapper {
  display: flex;
  width: calc(100% / 2);
}
.quality__img {
  border: 1px solid #e5e7eb;
}

.square__icon {
  z-index: -10;
  width: 80px;
  bottom: 0;
  right: 0;
  transform: translateX(50%) translateY(46.7%);
  position: absolute;
  color: rgba(100, 21, 255);
  fill: currentColor;
}

.buttn {
  padding: 14px 32px;
  border-radius: 9999px;
  border: none;
  background-color: rgba(100, 21, 255);
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  transition: all 300ms ease;
}

.buttn:hover {
  background-color: #4a13b8;
}

/* Steps section */

.steps__wrapper {
  display: flex;
  /* margin-right: 48px; */
  margin-top: 32px;
  position: relative;
}

.steps__img--wrapper {
  height: 100%;
  display: flex;
  width: calc(100% / 2);
  padding-top: 64px;
  position: relative;
  /* padding-bottom: 24px; */
  /* margin: 0 0 480px 0; */
}

.steps__info {
  display: flex;
  flex-direction: column;
  width: calc(100% / 2);
  padding: 16px 0;
  margin: 0 0 0 64px;
  word-spacing: 2px;
  /* text-align: left; */
}

.steps__header {
  font-weight: 900;
  color: #243e63;
  font-size: 48px;
  max-width: 550px;
}

.steps__info--wrapper {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  margin-top: 20px;
  /* text-align: left; */
}

.step__number {
  font-size: 36px;
  font-weight: 600;
  color: #c1d1e6f2;
  /* margin-top: 24px; */
  max-width: 40px;
}

.step__info--wrapper {
  /* display: flex;
  flex-direction: column; */
  margin-left: 24px;
}

.step__title {
  margin-top: 4px;
  font-size: 20px;
  font-weight: 600;
  color: #243e63;
}

.step__description {
  margin-top: 12px;
  font-size: 14px;
  max-width: 320px;
  font-weight: 500;
  line-height: 2;
  color: #718096;
}

.steps__square--icon {
  z-index: -10;
  width: 150px;
  bottom: 0;
  right: 0;
  pointer-events: none;
  transform: translateX(-152%) translateY(50%);
  position: absolute;
  color: rgb(234, 223, 255);
  fill: currentColor;
}

/* Values section */

.value__wrapper {
  display: flex;
}

.value__info {
  display: flex;
  flex-direction: column;
  width: calc(100% / 2);
  padding: 32px 0;
}

.value__header {
  font-weight: 900;
  color: #243e63;
  font-size: 48px;
  max-width: 550px;
}
.value__info {
  display: flex;
  flex-direction: column;
  width: calc(100% / 2);
  padding: 32px 0;
}

.value__header {
  font-weight: 900;
  color: #243e63;
  font-size: 48px;
  max-width: 550px;
}

.value__signs--wrapper {
  display: flex;
}

.value__description--wrapper {
  display: flex;
  align-items: center;
}

.value__sign--wrapper {
  border-radius: 9999px;
  background-color: rgb(154, 230, 180);
  color: rgb(39, 103, 73);
  display: flex;
  align-items: center;
  padding: 6px 8px 6px 8px;
  margin: 0 12px 0 0;
  height: 36px;
}

.value__sign--wrapper2 {
  border-radius: 9999px;
  background-color: rgb(254, 178, 178);
  color: rgb(155, 44, 44);
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 0 12px 0 0;
  height: 36px;
  border-radius: 50%;
}

.value__description--container {
  margin-bottom: 40px;
  /* width: calc(100% / 2); */
}

.value__title {
  font-size: 20px;
  font-weight: 700;
  color: #243e63;
}

.value__description {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #718096;
  max-width: 280px;
}

.value__img--wrapper {
  display: flex;
  width: calc(100% / 2);
  /* border: 1px solid #e5e7eb; */
}

/* Pricing Section */

/* #pricing {
  position: relative;
  z-index: 10;
} */

.pricing__info--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* letter-spacing: 1px; */
}

.pricing__header {
  font-weight: 900;
  color: #243e63;
  font-size: 48px;
}

.plans__container {
  display: flex;
  position: relative;
  /* z-index: 10; */
  /* margin: 0 154px 0 154px; */
  /* flex-wrap: wrap; */
  /* width: 100%; */
  /* border: 1px solid #e5e7eb; */
  /* box-sizing: border-box; */
}

.plan__wrapper {
  background-image: linear-gradient(
    135deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 100%
  );

  box-sizing: border-box;
  width: calc(100% / 3);
  max-width: 384px;
  display: flex;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  margin: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #e5e7eb; */
  border-radius: 8px;
  /* padding: 8px 0 0 0; */
  margin: 32px 40px 0 0;

  /* box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); */
}

.plan__wrapper--One {
  /* z-index: 1;
  position: relative; */
}

.plan__wrapper--Two {
  padding-top: 8px;
  background-color: rgba(100, 21, 255);
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  color: white;
}

.plan__strip {
  height: 8px;
  width: 100%;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.plan__strip--color {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__heading--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 28px 0;
  box-sizing: border-box;
}

.plan__header {
  margin-bottom: 16px;
}

.plan__gray--weight {
  color: #96a7c0;
  margin: 20px 0 0 0;
  max-width: 560px;
  line-height: 1.57;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.plan__weight--Two {
  color: white;
}

.plan__body--wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0 -10px;
  padding: 32px 32px;
  border-top: 2px solid #e5e7eb;
  border-bottom: 2px solid #e5e7eb;
}

.plan__body--Two {
  border-top: 2px solid rgb(102, 126, 234);
  border-bottom: 2px solid rgb(102, 126, 234);
}

.plan__body--Two {
  color: white;
}

.plan__body--header {
  font-size: 20px;
}

.plans__gray--para {
  margin: 24px 0 0 0;
  color: rgb(110, 110, 110);
  font-size: 16px;
  font-weight: 500;
}

.plan__para--Two {
  color: white;
}

.plan__end--wrapper {
  display: flex;
  /* z-index: 10; */
  justify-content: center;
  padding: 32px 64px;
  width: 100%;
  /* border-bottom: 1px solid #e5e7eb; */
}

.plan__end--button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  border-radius: 9999px;
  border: none;
  background-color: rgba(100, 21, 255);
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  max-width: 190px;
  height: 52px;
}

.plan__button--color--One {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__button--color--Two {
  background: white;
  color: #6415ff;
}

.plan__button--color--Three {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.heart__shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 256px;
  height: 256px;
  /* height = 256? */
  opacity: 0.25;
  transform: translateX(-50%) translateY(50%);
  /* transform: translateX(-200%); */
  fill: rgba(255, 180, 188, 1);
  z-index: -20;
}

/* TESTIMONIALS Section */

.testimonial__wrapper {
  display: flex;
}

.testimonial__img--wrapper {
  display: flex;
  width: calc(100% / 2);
  padding: 64px 0 0 0;
}

.testimonial__info {
  display: flex;
  flex-direction: column;
  width: calc(100% / 2);
  padding: 0 0 0 48px;
}

.testimonial__header {
  font-weight: 900;
  color: #243e63;
  font-size: 48px;
}

.slick__slider {
  display: flex;
  flex-direction: column;
}

/* .slick {
  display: flex;
  justify-content: space-between;
} */

.client__ratings {
  color: #faaa39ef;
}

.client__report--header {
  font-size: 20px;
  font-weight: 700;
  color: #243e63;
  padding: 16px 0px;
}

.client__report {
  color: rgba(74, 85, 104);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding-bottom: 32px;
}

.client__info {
  display: flex;
  /* width: 100px;
  height: 100px;
  border-radius: 50%; */
  justify-content: space-between;
}

.client__info--wrapper {
  display: flex;
  flex-direction: row;
}

.client__info--picture {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 24px;
}

.client__name {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.client__position {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.slick__button--container {
  display: flex;
  flex-direction: row;
}

.slick__button--wrapper {
  display: flex;
  right: 0;
  align-items: center;
}

.slick__button--wrapper {
  border-radius: 20px;
}

.slick__button {
  padding: 16px;
  border-radius: 9999px;
  color: rgba(100, 21, 255);
  background-color: rgba(237, 242, 247);
  border: 0 solid white;
  font-size: 12px;
  width: 50px;
  height: 50px;
}

.vr {
  margin: 0 12px 0 12px;
  border: 1px solid;
  border-right-width: 1x;
  margin-top: 28px;
  margin-bottom: 28px;
  border-bottom-color: white;
  border-left-color: white;
  border-right-color: rgb(233, 232, 232);
  border-top-color: white;
}

.slick-track {
  display: flex;
  flex-direction: column;
}

/* Animations */
/* .from__left {
  grid-column: 2/3;
  transform: translateX(-50%);
}

.from__right {
  grid-column: 3/4;
  transform: translateX(50%);
}

.from__left,
.from__right {
  transition: all 300ms ease;
}
.from__left.appear,
.from__right.appear {
  transform: translateX(0);
} */

/* try and redo headers for efficiency */

/* FOOTER */
footer {
  background-color: #6415ff;
  margin: 16px -32px -48px -32px;
  position: relative;
  padding-bottom: 16px;
  color: #6415ff;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.footer__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__link--container {
  display: flex;
  flex-direction: column;
  transition: all 300ms ease;
  display: inline-block;
  text-align: left;
  width: 100%;
}

h5 {
  color: white;
  font-size: 16px;
  padding-bottom: 20px;
  font-weight: 700;
}

.footer__link--primary {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  margin-top: 8px;
  border-bottom: 2px solid #6415ff;
  padding-bottom: 2px;
  transition: all 300ms ease;
  display: inline-block;
  /* <a> tag = inline element; cannot have top/bottom margin
  solved by adding display: inline-block; */
}

.footer__link--primary:hover {
  color: white;
  border-color: white;
}

.footer__divider {
  margin-top: 64px;
  border-bottom: 2px solid #7c3bff;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
}

.footer__logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.8px;
}

.footer__logo--img {
  width: 36px;
  height: auto;
  border-radius: 9px;
  margin-right: 8px;
}

.footer__copyright {
  color: rgb(203 213 224);
}

.footer__social--links {
  transition: all 300ms ease;
}

.footer__social--link {
  color: rgb(20, 32, 45);
  padding: 8px;
  margin-right: 8px;
  background-color: white;
  width: 100px;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 9999px;
  transition: all 300ms ease;
}

.footer__social--link:hover {
  background-color: rgb(213, 217, 254);
}

.blob {
  opacity: 0.1;
  width: 320px;
  height: 320px;
  position: absolute;
  color: #130322;
  top: 0;
  left: 0;
  transform: translateY(0%) translateX(-30%);
  z-index: 10;
}

.blob__2 {
  opacity: 0.1;
  position: absolute;
  color: #130322;
  right: 0;
  bottom: 0;
  /* transform: translateY(-60%) translateX(400%); */
  width: 320px;
  height: 320px;
}

footer {
  /* height: 100vh; */
}

/* Responsiveness */
@media (max-width: 1280px) {
  .menu__header {
    font-size: 32px;
  }

  .menu__para {
    font-size: 16px;
    font-weight: 500;
  }

  .menu__img {
    margin-left: 128px;
    width: 512px;
  }

  .square__icon {
    transform: translateY(25%) translateX(42%);
  }

  .steps__square--icon {
    transform: scale(0.6);
    transform: translateX(-140%) translateY(40%);
  }
}

@media (max-width: 1024px) {
  .menu__info {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .menu__brands {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0px;
  }

  .menu__brands--img {
    transform: scale(0.8);
  }

  .menu__info--wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .menu__img--wrapper {
    display: flex;
    justify-content: center;
  }

  .menu__img {
    margin: 0 auto;
  }
}

/* Small phones, tablets, large smartphones */

@media (max-width: 768px) {
}
